@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">K8s - Dashboard</h1>
    <p>Saiba mais<a href="https://github.com/adrianomatildes/k8s-dashboard-csharp"> no GitHub</a>.</p>
</div>
